body {
    background-image: url("bgacht.png");
    
    }
    
    #Hauptcontainer {
    width: 600px;
    height: 400px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
    
    
    
    
    #Karte {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }



    .video-container {
     position: relative;
     z-index: 1;
     top: 45px;
     left: 52px;


    }


    #Banderole {
        position: relative;
        z-index: 1;
        margin-left: 370px;
        margin-top: -40px;
    }