body {
    background-image: url("bgvier.png");
    
    }
    
    #Hauptcontainer {
    width: 600px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    
    
    #Text h1 {
    
        position: relative;
    color: white;
      margin-left: 60px;
        font-size: 40px;
        z-index: 1;

    }
    
    
    #Text p {
        position: relative;
    color: white;
    font-size: 12px;
   
    
    }
    
    #Karte {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


    input[type=text], select, textarea {
        width: 50%; /* Full width */
        padding: 4px; /* Some padding */ 
        border: 1px solid #ccc; /* Gray border */
        box-sizing: border-box; /* Make sure that padding and width stays in place */
        margin-top: 6px; /* Add a top margin */
        margin-bottom: 16px; /* Bottom margin */
        resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
        position: relative;
      }
      
      #subject {
        margin-bottom: -10px;
        position: relative;
    }
     
     
      /* Add a background color and some padding around the form */
      #container {
        margin-left: 20px;
        position: absolute;
        margin-bottom: 100px;
      border-radius: 5px;
      padding: 20px;
      color: white;
      font-size: 18px;
      position: relative;

    }



  /* absenden-Button */
  input[type=submit] {
    color: white;
    cursor: pointer;
    padding: auto;
    background-color:rgb(194, 192, 192);
    margin-top: 10px;
    position: relative;


  }
  
  /* Wird betont wenn man mit Maus rüberfährt */
  input[type=submit]:hover {
    background-color: #45a049;

  }