body {
background-image: url("bg.png");

}


#Hauptcontainer {
width: 600px;
height: 400px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

#Karte {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#Text h1 {

    position: relative;
    margin-top: 55px;
margin-left: 60px;    
color: white;
  z-index: 1;
    font-size: 40px;
}


#Text p {
    position: relative;
color: white;
margin-left: 60px;
width: 450px;
z-index: 1;

}

  



#Pinguin {
position: relative;
left: 480px;
bottom: 125px;

}

#Busch {
position: relative;
bottom: 600px;
right: 70px;
z-index: 1;

}