body {
    background-image: url("bgsieben.png");
    
    }
    
    #Hauptcontainer {
        width: 700px;
        height: 400px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
    
    
    #Text h1 {
    display: inline;
        position: relative;
    margin-left: 60px; 
    top: 100px; 
    color: white;
      
        font-size: 40px;
        z-index: 1;
    }
    
    
    #Text p {
        position: relative;
    color: white;
top:200px;   
left: 60px;
width: 450px;
    z-index: 1;
    
    }
    
    #Karte {
    position: absolute;  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
 
    

#Gifts {
    position: relative;
z-index: 2;
margin-left: 460px;
margin-top: 170px;

}


#Stern1 {
position: relative;
z-index: 1;
bottom: 400px;
left: 30px;
}

#Stern2 {
    position: relative;
    z-index: 1;
    bottom: 600px;
    left: 250px;

  
    
    }

    #Stern3 {
        position: relative;
        z-index: 1;
        bottom: 500px;
        left: 400px;
    
        
        } 
        
        

#Feuer {
position: relative;
z-index: 1;
left: 420px;
bottom: 650px;
}

#Busch {
z-index: 1;
position: relative;
top: -550px;
right: 50px;
}