body {
    background-image: url("bgdrei.png");
    
    }
    
    #Hauptcontainer {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);}
    
    
    h1 {
        position: relative;
    color: white;
      top: 35px;
      right: 60px;
        font-size: 40px;
        z-index: 1;
    }
    
    
    
    
    #Karte {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
    
    #Stern1 {
        position: relative;
        top: 100px;


    }
    

    #Stern2 {
        position: relative;
top: -50px;
left: 200px;

    }

    #Stern3 {
        position: relative;

top: 30px;
left: 330px;

    }


    #Stern4 {
        position: relative;
top: -100px;
left: 490px;

    }


    #Stern1 :hover {
    background-image: url("stern_hover.png");


    }

    #Stern2 :hover {
    background-image: url("stern_hover.png");
        
        
            }

    #Stern3 :hover {
    background-image: url("stern_hover.png");
                
                
                    }

    #Stern4 :hover {
    background-image: url("stern_hover.png");
                        
                        
      }